<div>
    <div ng-include="'views/header.html'"></div>
          <div class="container-fluid container-margin">
             <div class="row row-height">
                <div class="col-md-3" style="margin-right:0px;padding-right:0px;background-color:#f8f8f8;">
                    <div ng-include="'views/menubar.html'"> </div>     
                </div>
                <div class="col-md-8" style='background-color:#f8f8f8'>
                   <div class="row">
                      <div class="col-md-12" >
                         
                         <div class="col-md-12">
                            <h4 class ="head_gst"> Add Employee  Detail</h4>
                            <div class="row div-minheight">
                            <div class="col-lg-12 cart-box div-minheight">
                            <form method='POST' enctype="multipart/form-data" name="empForm" novalidate> 
                                <div class="alert alert-success fade in" ng-if="sussmsg">
                                                                 Employees    Detail Added successfully.
                                </div> 
                               <div class="form-group" ng-class="{ 'has-error': empForm.first_name.$invalid && !empForm.first_name.$pristine }">
                                  <label>First Name <span class='start'>*</span> </label>
                                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control" ng-model="emp.first_name" name="first_name"  placeholder="First Name" required>
                                     
                                  </div>
                                  
                                   <p ng-show="empForm.first_name.$invalid && !empForm.first_name.$pristine" style='color:red'> Enter First Name .</p>
                               </div>
                               <div class="form-group"  ng-class="{ 'has-error': empForm.last_name.$invalid && !empForm.last_name.$pristine }">
                                  <label>Last Name <span class='start'>*</span> </label>
                                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input type="text" class="form-control" ng-model="emp.last_name"  name="last_name"  placeholder="Last Name" required>
                                  </div>
                                  <p ng-show="empForm.last_name.$invalid && !empForm.last_name.$pristine" style='color:red'> Enter Last Name .</p>
                               </div>
                               <div class="form-group" ng-class="{ 'has-error': empForm.emp_id.$invalid && !empForm.emp_id.$pristine }">
                                  <label>Emp Id <span class='start'>*</span> </label>
                                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                     <input readonly='true' type="text" class="form-control"  ng-model="emp_id"  name="emp_id" id="Email" placeholder="Emp Id" required >
                                  </div>
                                  <p ng-show="empForm.emp_id.$invalid && !empForm.emp_id.$pristine" style='color:red'> Enter Employee Id .</p>
                               </div>
                                <div class="form-group" ng-class="{ 'has-error': empForm.email.$invalid && !empForm.email.$pristine }">
                                  <label>Email Id <span class='start'>*</span> </label>
                                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                     <input ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" ng-mouseleave="emailExist()" type="email" class="form-control" ng-model="emp.email"  name="email" id="Email" placeholder="Email" required >
                                  </div>
                                 
                                   <p ng-show="empForm.email.$error.required && !empForm.email.$pristine" style='color:red'> Enter Email Id .</p>
                                    <p ng-show="empForm.email.$error.pattern && !empForm.email.$pristine" style='color:red'> Enter Valid  Email Id .</p>
                                     <p ng-show="emailExistval" style='color:red'> Email already Exist.</p>
                               </div>
                                <div class="form-group" ng-class="{ 'has-error': empForm.password.$invalid && !empForm.password.$pristine }">
                                  <label>Password <span class='start'>*</span> </label>
                                  <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                     <input type="password" class="form-control" ng-model="emp.password" ng-minlength="6"  name="password" id="Email" placeholder="password" required >
                                  </div>
                                 
                                   <p ng-show="empForm.password.$error.required && !empForm.password.$pristine" style='color:red'> Enter password .</p>
                                    <p ng-show="empForm.password.$error.minlength && !empForm.password.$pristine" style='color:red'> Enter Minimum 6 characters  .</p>
                               </div>
                               
                               <center>
                                <input ng-if="submitbtn" type="submit" ng-disabled="empForm.$invalid" name="submit" ng-click="submit()"  id="submit" value="Submit" class="btn btn-primary pull-center" style='margin-bottom:100px'>
                               </center>
                            </form>
                            </div>
                        </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
        <div ng-include="'views/footer.html'"></div>
</div>        