<div class="list-group">
    <a   class="list-group-item" style="background-color:#3b434a!important;color:#f8f8f8"> <span>&nbsp;</span>
    </a>
     <a   class="list-group-item"> 
        <i class="fa fa-compass" aria-hidden="true"></i> 
         dashboard 
    </a>
    <a  class="list-group-item"> 
        
       <i class="fa fa-user-circle-o" aria-hidden="true"></i>
         Empolyee List  
    </a>
   
    <a  class="list-group-item">
         <i class="fa fa-user-circle-o" aria-hidden="true"></i> MY Profile 
    </a>
    <a  class="list-group-item">
         <i class="fa fa-user-circle-o" aria-hidden="true"></i>Update   Profile 
    </a>
    <a  class="list-group-item">
       <i class="fa fa-user-circle-o" aria-hidden="true"></i> Add Empolyee 
    </a>
    <a ui-sref-active="active"   ui-sref="logout" class="list-group-item">
         <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Logout
    </a>
   
</div>

